
PORT=3000
MONGODB_USER=your_mongodb_user
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URL=your_mongodb_url
MONGODB_DB=your_mongodb_database

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@example.com

JWT_SECRET=your_jwt_secret

APP_DOMAIN=http://localhost:3000

CLOUD_NAME=your_cloud_name
API_KEY=your_api_key_cloud
API_SECRET=your_api_secret_cloud
ENABLE_CLOUDINARY=true
